.docs_otchet .doc{background: url(images/iWord.png) 0 0 no-repeat;}
.docs_otchet .pdf{background: url(images/iPdf.png) 0 0 no-repeat;}
.docs_otchet .xls{background: url(images/iExcel.png) 0 0 no-repeat;}
.docs_otchet .ppt{background: url(images/iPpt.png) 0 0 no-repeat;}
.docs_otchet .zip{background: url(images/iArchive.png) 0 0 no-repeat;}
.docs_otchet .img{background: url(images/iImage.png) 0 0 no-repeat;}
.docs_otchet .none{background: url(images/iNone.png) 0 0 no-repeat;}